<li id="role_<%= role.id %>">
  <% if show == :movie %>
    <%= link_to role.movie.full_title, role.movie %>
  <% else %>
    <%= link_to role.actor.full_name, role.actor %>
  <% end %>
  (as <strong><%= role.name %></strong>)

  <%= link_to fa_icon("edit"), [:edit, role] %>
  <%= link_to fa_icon("trash"), role, method: "delete", remote: true %>
</li>
